.newShop { /* Rename class to match component name */
    flex: 4;
  }
  
  .addShopForm {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
  }
  
  .addShopItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addShopItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .addShopItem > input {
    padding: 10px;
  }
  
  .addShopItem > select {
    padding: 10px;
  }
  
  .addShopItem > button {
    margin-top: 14px;
    padding: 13px 10px;
    border: none;
    border-radius: 4px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  