.newShop {
    /* Rename class to match component name */
    flex: 4;
}

.addShopForm {
    margin-top: 10px;
}

.addShopItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addShopItem>label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}

.addShopItem>input {
    padding: 10px;
}

.addShopItem>select {
    padding: 10px;
}

.addShopButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
}